<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>カレンダー登録</title>
	<script th:src="@{/js/common.js}"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/temp.css}" />
	<link rel="stylesheet" th:href="@{/css/insertCalendar.css}" />
</head>

<body>
	<!-- header -->
	<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary border-bottom p-4"
		style="background-color: #ffffff;">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/recommend}" style="font-size: 40px">CookUp</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				<ul class="navbar-nav mb-2 mb-lg-0">
					<!-- classに"active"とつけてあげると、その項目は強調表示されます。このテンプレの場合は「Myレシピ」が強調表示されてます" -->
					<!-- hrefでjsを呼んでます。あくまで例なので修正の必要はありそう。 -->
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<form>
							<input type="hidden" name="select" value="検索">
							<a class="nav-link" href="javascript:selectSubmit()">検索</a>
						</form>
					</li>
					<!-- ここから下はsubmitになっていない(画面遷移の確認だけしている)ため、適宜上を真似して実装してみてください。変更したらご一報ください。 -->
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<form>
							<input type="hidden" name="#" value="Myレシピ">
							<a class="nav-link" aria-current="page" th:href="@{/Myrecipe}">Myレシピ</a>
						</form>
					</li>
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<form>
							<input type="hidden" name="#" value="投稿">
							<a class="nav-link" aria-current="page" th:href="@{/insertRecipeInput}">投稿</a>
						</form>
					</li>
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<form>
							<input type="hidden" name="#" value="カレンダー">
							<a class="nav-link" aria-current="page" th:href="@{/calendar}">カレンダー</a>
						</form>
					</li>
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<button type="button" onclick="logoutSubmit()"
							class="btn btn-primary btn-lg sign">ログアウト</button>
					</li>
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<img th:src="@{${userIcon}}" alt="icon" width="100" height="100">
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- /header -->
	<main>
		<div class="container">
			<h2>
				<span class="uline">カレンダー登録</span><span class="small">Calendar Registration</span>
			</h2>
		</div>
		<div>
			<form action="insertCalendarResult" method="post" th:object="${insertCalendarForm}">
				<input type="hidden" th:field="*{idUser}" value="" />
				<input type="hidden" th:field="*{idRecipe}" value="" />
				<input type="hidden" th:field="*{nmRecipe}" value="" />
				<table style="width: 60%;height:300px;padding: 8px;">
					<tr>
						<td style="border: 1px solid #ccc;padding: 8px;">
							<h4 style="font-weight: normal;">レシピ名</h4>
						</td>
						<td style="border: 1px solid #ccc;padding: 8px;">
							<h4 th:text="*{nmRecipe}" style="font-size:30px">
							</h4>
							<img th:src="'/img/Recipe/' + ${myRecipeSearchForm.picRecipe}"style="width:400px;max-width:400px;max-height:400px;">
						</td>
					</tr>
					<tr>
						<td style="border: 1px solid #ccc;padding: 8px;">
							<h4 style="font-weight: normal;">日付</h4>
						</td>
						<td style="border: 1px solid #ccc;padding: 8px;">
							<select id="year" th:field="*{updateYear}">
								<option
									th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow().time) - 3, #dates.year(#dates.createNow().time) + 3)}"
									th:value="${year}" th:text="${year}"></option>
							</select>
							年

							<select id="month" th:field="*{updateMonth}" onchange="populateDays()">
								<option th:each="month : ${#numbers.sequence(1, 12)}" th:value="${month}"
									th:text="${month}"></option>
							</select>
							月

							<select id="day" th:field="*{updateDay}">
								<!-- JavaScriptによって動的に生成される -->
							</select>
							日
						</td>

					</tr>
				</table>
				<table style="width: 20%;">
					<tr>
						<td style="background-color: #ffefe0">
							<input type="submit" value="登録">
						</td>
			</form>
			<form action="backToDetailFromCalendar" method="post" th:object="${insertCalendarForm}">
				<td style="background-color: #ffefe0">
					<button type="submit"
						style="background-color: #dc3545;font-size: 20px;text-align: center;margin-top: 10px; margin-bottom: 10px;margin-left: 5px; margin-right: 5px;padding: 10px 16px;"
						onmouseover="this.style.backgroundColor='rgb(154, 27, 39)';"
						onmouseout="this.style.backgroundColor='#dc3545';">戻る</button>
					<input type="hidden" th:field="*{idUser}" value="" />
					<input type="hidden" th:field="*{idRecipe}" value="" />
					<input type="hidden" name="previousScreen" th:value="${previousScreen}" />
				</td>
				</tr>

			</form>
			</table>

		</div>
	</main>

	<!-- footer -->
	<footer>
		<p>© 2024 CookUp</p>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
			// 現在の年を選択
			const currentYear = new Date().getFullYear();
			document.getElementById('year').value = currentYear.toString();

			// 現在の月を選択
			const currentMonth = new Date().getMonth() + 1; // JavaScriptの月は0から始まるため+1する
			document.getElementById('month').value = currentMonth.toString();

			// 日数を更新
			populateDays();
		});

		function populateDays() {
			const year = document.getElementById('year').value;
			const month = document.getElementById('month').value;

			const daysInMonth = new Date(year, month, 0).getDate();

			const daySelect = document.getElementById('day');
			daySelect.innerHTML = '';

			for (let day = 1; day <= daysInMonth; day++) {
				let option = document.createElement('option');
				option.value = day;
				option.textContent = day;
				daySelect.appendChild(option);
			}

			// 現在の日を選択
			const currentDay = new Date().getDate();
			daySelect.value = currentDay.toString();
		}

		function selectSubmit() {
			const form = document.createElement('form');
			form.setAttribute('method', 'post');
			form.setAttribute('action', 'selectRecipe');

			// 動的送信用のHidden
			// 動的にFormを作成する場合は何かしら送信しないと、正しく動作しない
			const inputField = document.createElement("input");
			inputField.setAttribute("type", "hidden");
			inputField.setAttribute("value", "select");

			form.appendChild(inputField);

			// フォームをDOMに追加
			document.body.appendChild(form);

			form.submit();
		}
	</script>


</body>

</html>