<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>レシピ投稿</title>
	<script th:src="@{/js/common.js}"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/temp.css" />
	<link rel="stylesheet" href="../static/css/insertRecipeInput.css" />
	<link rel="stylesheet" th:href="@{/css/temp.css}" />
	<link rel="stylesheet" th:href="@{/css/insertRecipeInput.css}" />

</head>

<body>
	<!-- header -->
	<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary border-bottom p-4"
		style="background-color: #ffffff;">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/recommend}" style="font-size: 40px">CookUp</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				<ul class="navbar-nav mb-2 mb-lg-0">
					<!-- classに"active"とつけてあげると、その項目は強調表示されます。このテンプレの場合は「Myレシピ」が強調表示されてます" -->
					<!-- hrefでjsを呼んでます。あくまで例なので修正の必要はありそう。 -->
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<form>
							<input type="hidden" name="select" value="検索">
							<a class="nav-link" href="javascript:selectSubmit()">検索</a>
						</form>
					</li>
					<!-- ここから下はsubmitになっていない(画面遷移の確認だけしている)ため、適宜上を真似して実装してみてください。変更したらご一報ください。 -->
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<form>
							<input type="hidden" name="#" value="Myレシピ">
							<a class="nav-link" aria-current="page" th:href="@{/Myrecipe}">Myレシピ</a>
						</form>
					</li>
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<form>
							<input type="hidden" name="#" value="投稿">
							<a class="nav-link active" aria-current="page" th:href="@{/insertRecipeInput}">投稿</a>
						</form>
					</li>
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<form>
							<input type="hidden" name="#" value="カレンダー">
							<a class="nav-link" aria-current="page" th:href="@{/calendar}">カレンダー</a>
						</form>
					</li>
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<button type="button" onclick="logoutSubmit()"
							class="btn btn-primary btn-lg sign">ログアウト</button>
					</li>
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<img th:src="@{${userIcon}}" alt="icon" width="100" height="100">
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- /header -->

	<!-- コンテンツ -->
	<main>
		<!-- タイトル -->
		<div class="container">
			<h2>
				<span class="uline">レシピ投稿</span><span class="small">Recipe Submission</span>
			</h2>
		</div>
		<!-- 入力フォーム -->
		<div>
			<form id="insertRecipeForm" th:action="insertRecipeConfirm" method="post" th:object="${insertRecipeForm}">
				<input type="hidden" name="idUser" th:value="${session.loginUser.idUser}" />
				<table>

					<h3>レシピ名</h3>
					<input type="text" name="nmRecipe" required="required" th:field="*{nmRecipe}"
						placeholder="例：目玉焼き" /><br>
					<h3>難易度</h3>
					<select name="levelRecipe" required="required" th:field="*{levelRecipe}" />
					<option th:value="1" th:text="簡単" />
					<option th:value="2" th:text="少し簡単" />
					<option th:value="3" th:text="ふつう" th:selected="selected" />
					<option th:value="4" th:text="少し難しい" />
					<option th:value="5" th:text="難しい" />
					</select><br>
					<h3>画像</h3>
					<input type="file" id="imageUpload" th:field="*{nmPic}" accept="image/*" style="display: none;" />
					<input type="hidden" id="picRecipe" th:field="*{picRecipe}" value="" />
					<button id="uploadButton" type="button">ファイルを選択</button>
					<button id="resetButton" type="reset">削除</button><br>
					<img id="preview" th:src="*{picRecipe}" style="width:600px;max-width: 600px;max-height: 600px;"><br>
					<h3>ジャンル</h3>
					<select name="idGenre" required="required" th:field="*{idGenre}" />
					<option th:each="genre : ${genreFormList}"
						th:selected="${insertRecipeForm.idGenre != null && genre.idGenre == insertRecipeForm.idGenre}"
						th:text="${genre.nmGenre}" th:value="${genre.idGenre}">
					</option>
					</select><br>
					<h3>調理時間</h3>
					約
					<select name="cookTime" required="required" th:field="*{cookTime}" style="margin-right: 20px;" />
					<option th:value="5" th:text="5分" />
					<option th:value="10" th:text="10分" />
					<option th:value="15" th:text="15分" />
					<option th:value="20" th:text="20分" th:selected="selected" />
					<option th:value="25" th:text="25分" />
					<option th:value="30" th:text="30分" />
					<option th:value="35" th:text="35分" />
					<option th:value="40" th:text="40分" />
					<option th:value="45" th:text="45分" />
					<option th:value="50" th:text="50分" />
					<option th:value="55" th:text="55分" />
					<option th:value="60" th:text="1時間" />
					<option th:value="90" th:text="1時間30分" />
					<option th:value="120" th:text="2時間" />
					<option th:value="150" th:text="2時間半" />
					<option th:value="180" th:text="3時間以上" />
					</select><br>
					<h3>材料</h3>
					<textarea id="" name="ingRecipe" required="required" th:field="*{ingRecipe}" rows="5"
						maxlength="500" placeholder="卵、サラダ油、調味料（醤油、ソースなどお好みで）" /></textarea><br>
					<h3>作り方</h3>
					<textarea id="" name="howCook" required="required" th:field="*{howCook}" rows="5" maxlength="5000"
						placeholder="1.フライパンを熱して油を引きます。
2.卵を割り、フライパンに落とします。
3.水を少量入れ、蓋をして２～３分待ちます。
4.火を止め、お皿の上に乗せて完成。
5.お好みの調味料を掛けて召し上がってください。
									" /></textarea><br>

					<input type="hidden" name="updateDate"
						th:value="${#calendars.format(#calendars.createNowForTimeZone('Asia/Tokyo'), 'yyyy/MM/dd HH:mm:ss')}" />

					<input type="submit" value="投稿確認" />
				</table>
			</form>
		</div>
	</main>
	<!-- コンテンツ -->

	<!-- footer -->
	<footer>
		<p>© 2024 CookUp</p>
	</footer>
	<!-- footer -->
	<!-- スクリプト-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script th:inline="javascript">
		const uploadButton = document.getElementById('uploadButton');
		const resetButton = document.getElementById('resetButton');
		const imageUpload = document.getElementById('imageUpload');
		const preview = document.getElementById('preview');
		const picRecipe = document.getElementById('picRecipe');
		const form = document.getElementById('insertRecipeForm');

		uploadButton.addEventListener('click', () => {
			imageUpload.click();
		});

		imageUpload.addEventListener('change', (event) => {
			const file = event.target.files[0];
			if (file) {
				const reader = new FileReader();
				reader.onload = function (e) {
					const ual = e.target.result;
					preview.src = ual;
					picRecipe.setAttribute("value", ual);
					preview.style.display = 'block';
				}
				reader.readAsDataURL(file);
			}
		});

		resetButton.addEventListener('click', () => {
			imageUpload.value = ''; // ファイル選択をリセット
			preview.src = ''; // プレビューをリセット
			picRecipe.value = ''; // プレビューをリセット
			preview.style.display = 'none'; // プレビューを非表示
		});

		function selectSubmit() {
			const form = document.createElement('form');
			form.setAttribute('method', 'post');
			form.setAttribute('action', 'selectRecipe');

			// 動的送信用のHidden
			// 動的にFormを作成する場合は何かしら送信しないと、正しく動作しない
			const inputField = document.createElement("input");
			inputField.setAttribute("type", "hidden");
			inputField.setAttribute("value", "select");

			form.appendChild(inputField);

			// フォームをDOMに追加
			document.body.appendChild(form);

			form.submit();
		}

		// フォーム送信時のバリデーション
		form.addEventListener('submit', function (event) {
			if (picRecipe.value.trim() === '') {
				alert('ファイルが選択されていません。ファイルを選択してください。');
				event.preventDefault(); // フォームの送信を防ぐ
			}
		});	</script>
	<!-- スクリプト-->
</body>

</html>