<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<script th:src="@{/js/common.js}"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/select.css}" />
	<link rel="stylesheet" th:href="@{/css/temp.css}" />
	
	<meta charset="UTF-8">
	<title>検索</title>
</head>

<body>
	<!-- header -->
	<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary border-bottom p-4"
		style="background-color: #ffffff;">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/recommend}" style="font-size: 40px">CookUp</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				<ul class="navbar-nav mb-2 mb-lg-0">
					<!-- classに"active"とつけてあげると、その項目は強調表示されます。このテンプレの場合は「Myレシピ」が強調表示されてます" -->
					<!-- hrefでjsを呼んでます。あくまで例なので修正の必要はありそう。 -->
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<form>
							<input type="hidden" name="select" value="検索">
							<a class="nav-link active" href="javascript:selectSubmit()">検索</a>
						</form>
					</li>
					<!-- ここから下はsubmitになっていない(画面遷移の確認だけしている)ため、適宜上を真似して実装してみてください。変更したらご一報ください。 -->
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<form>
							<input type="hidden" name="#" value="Myレシピ">
							<a class="nav-link d-flex align-items-center" aria-current="page" th:href="@{/Myrecipe}">Myレシピ</a>
						</form>
					</li>
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<form>
							<input type="hidden" name="#" value="投稿">
							<a class="nav-link" aria-current="page" th:href="@{/insertRecipeInput}">投稿</a>
						</form>
					</li>
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<form>
							<input type="hidden" name="#" value="カレンダー">
							<a class="nav-link" aria-current="page" th:href="@{/calendar}">カレンダー</a>
						</form>
					</li>
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<button type="button" onclick="logoutSubmit()"
							class="btn btn-primary btn-lg sign">ログアウト</button>
					</li>
					<li class="nav-item p-2 h4 d-flex align-items-center">
						<img th:src="@{${userIcon}}" alt="icon" width="100" height="100">
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- /header -->

	<form action="selectRecipe" method="post" th:object="${selectRecipeForm}">



		<div class="container"><br><input placeholder="レシピ名" th:field="*{nmRecipe}" type="text" size="100%" /></br>
		</div>
		<div class="container"><br><input placeholder="材料" th:field="*{ingRecipe}" type="text" size="100" /></br></div>
		<div class="container"><br>
			<tr>
				<th class="header">ジャンル</th>
				<td>
					<select th:field="*{idGenre}">
						<option value=""></option>
						<option th:each="genre : ${genreFormList}"
							th:selected="${selectRecipeForm.idGenre != null && genre.idGenre == selectRecipeForm.idGenre}"
							th:text="${genre.nmGenre}" th:value="${genre.idGenre}">

						</option>
					</select>
				</td>
			</tr></br>
		</div>
		<div class="container"><br><input placeholder="レシピ作成者" th:field="*{nmUser}" type="text" size="100" /></br></div>
		<div class="container"><br>
			<tr>
				<td class="btnArea" colspan="2">
					<input type="submit" value="検索" style="margin:3px;"/>
				</td>
				<td class="btnArea" colspan="2">
					<button onclick="clearInput()"style="margin:3px;">クリア</button>
				</td>
			</tr>
			</br>
		</div>
	</form>
	<br>
	<div class="container"></br>

		<h3>検索結果</h3>

		<div style="text-align: right">
			<form id="sortForm" th:action="@{/selectRecipe}" th:object="${recipeInfoForm}" method="post">
				<select id="sortOption" class="d-flex align-items-center justify-content-right" name="sortOption"
					onchange="submitForm()">
					<option value="">-- ソートオプションを選択してください --</option>
					<option value="01" th:selected="${session.sortOption == '01'}">調理時間昇順</option>
					<option value="02" th:selected="${session.sortOption == '02'}">調理時間降順</option>
					<option value="03" th:selected="${session.sortOption == '03'}">難易度昇順</option>
					<option value="04" th:selected="${session.sortOption == '04'}">難易度降順</option>
				</select>
			</form>
		</div>

		<table>
			<thead>
				<tr>
					<th style="width: 200px;">レシピ名</th>
					<th style="width: 200px;">イメージ</th>
					<th style="width: 200px;">ジャンル</th>
					<th style="width: 200px;">調理時間(分）</th>
					<th style="width: 200px;">難易度</th>
					<th style="width: 200px;">レシピ作成者</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="recipeInfoForm : ${recipeInfoForm}" class="table">
					<td>
						<a class="text" th:href="@{/recipeDetailFromSearch(idRecipeValue=${recipeInfoForm.idRecipe})}" style="color: #000; text-decoration: none;" onMouseOut="this.style.color='#000';" onMouseOver="this.style.color='red'">
							[[${recipeInfoForm.nmRecipe}]]
						</a>
					</td>
					
					<td><div class="picture">  <img th:src="@{${recipeInfoForm.picRecipe}}" width="150px" class="image"></div></td>
				
					<td th:text="${recipeInfoForm.nmGenre}"></td>
					<td th:text="${recipeInfoForm.cookTime}"></td>
					<td th:text="${recipeInfoForm.levelRecipe}"></td>
					<td th:text="${recipeInfoForm.nmUser}"></td>

				</tr>
			</tbody>
		</table>
	</div>
	<footer>
		<p>© 2024 CookUp</p>
	</footer>
</body>
<!-- ヘッダー要素のsubmit例(間違えている可能性あり -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
	    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	    crossorigin="anonymous"></script>
<script type="text/javascript">
	function selectSubmit() {
		const form = document.createElement('form');
		form.setAttribute('method', 'post');
		form.setAttribute('action', 'selectRecipe');

		// 動的送信用のHidden
		// 動的にFormを作成する場合は何かしら送信しないと、正しく動作しない
		const inputField = document.createElement("input");
		inputField.setAttribute("type", "hidden");
		inputField.setAttribute("value", "select");

		form.appendChild(inputField);

		// フォームをDOMに追加
		document.body.appendChild(form);
		console.log("実行")
		form.submit();
	}

	function clearInput() {
		document.getElementById('nmRecipe').value = '';
		document.getElementById('ingRecipe').value = '';
		document.getElementById('idGenre').selectedIndex = 0;
		document.getElementById('nmUser').value = '';
	}
</script>
<script type="text/javascript">
	function submitForm() {
		document.getElementById("sortForm").submit();
	}
</script>
<script th:inline="javascript">
	/*<![CDATA[*/
	function navigateToRecipeDetail(recipeId) {
		var url = '/recipeDetailFromMyRecipe?idRecipeValue=' + recipeId;
		url = url.replace('{idRecipeValue}', recipeId);
		window.location.href = url;
	}
    /*]]>*/
</script>


</html>